body {
    margin: 10px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(140deg, red, pink);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.formulario-modificar {
    width: 70%;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-header h4 {
    margin: 0;
    color: black;
}

.linea-roja {
    border: none;
    height: 2px;
    background-color: red;
    margin: 10px 0;
}

.form-group {
    margin-bottom: 15px;
}

.controls {
    width: 100%; /* Ajusta el ancho del campo */
    padding: 12px; /* Ajusta el relleno interno del campo */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px; /* Ajusta el tama침o de la fuente */
}

.button {
    width: 100%; /* Ajusta el ancho del bot칩n */
    padding: 12px; /* Ajusta el relleno interno del bot칩n */
    background: red;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 16px; /* Ajusta el tama침o de la fuente */
    cursor: pointer;
}

.button:hover {
    background: darkred;
}

.form-footer p {
    text-align: center;
    margin: 0;
}

.form-footer a {
    color: red;
    text-decoration: none;
    font-weight: bold;
}

.form-footer a:hover {
    text-decoration: underline;
}

button {
    padding: 6px 10px;
    margin-right: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

